.App {
  margin: 0 1rem;
  text-align: center;
}

.note {
  border: 1px solid gray;
  padding: 3rem;
  font-size: 1rem;
  color: #333;
  height: 10rem;
  border-radius: 0.5rem;
  background-color: rgb(240, 226, 207);
  margin-top: 1rem;
}

.high {
  background-color: coral;
}

.medium {
  background-color: rgb(136, 89, 72);

}

.low {
  background-color: rgb(117, 233, 71);
}